.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

a:hover{
  color: #ddd;
}